.header{
    padding: 5.00rem 14.40rem;
    background:var(--gray-700);
}
header .FirstCollorH1 {
    color: var(--blue);
    font-size: 4.0rem;

}
header .SecondCollorH1{
    color: var(--purple-dark);
    font-size: 4.0rem;

}
.div{
    display: flex;
    justify-content: center;
    
}

.div img {
    width: 3.5rem;
    height: 4.6rem;
}